* {
    padding: 0;
    margin: 0;
}

#blank {
    display: inline-block;
    margin-left: 14px;
}

button {
    height: 20px;
    width: 60px;
    margin-top: 5px;
    margin-left: 4px;
}

button:hover {
    background-color: blueviolet;
}

input {
    outline: none;
}
input:focus {
    border-style: solid;
    border-color: blueviolet;
    box-shadow: 0 0 5px blueviolet;
    /* border : 2px  solid  yellow; */
}