* {
    padding: 0;
    margin: 0;
}

.w {
    margin: 50px auto;
}
form {
    width: 260px;
    height: 60px;
    padding: 10px;
    border: 1px solid #bbbbbb;
}

.biaoge input{
    width: 80px;
    border: 2px solid #bbbbbb;
}

.biaoge input {
    width: 80px;
    border: 2px solid #bbbbbb;
    transition: width 2s ease-in 1.5s;
}
.newf:focus {
    width: 240px;
    /* background-color: pink; */
    /* transition: border-color, width 1s ease-in 1.1s; */
}

